.card {
  max-width: 413px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  border-radius: 8px;
  width: 100%;
  height: 413px;
  display: block;
  z-index: 0;
}

.card__like-button {
  background-image: url(../images/icons/like-black.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  align-content: center;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url(../images/icons/liked.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/icons/liked-hover.svg);
  opacity: 1;
}

.card__delete-button {
  background-image: url(../images/icons/delete.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  align-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 0;
}

.card__delete-button:hover {
  background-image: url(../images/icons/delete-hover.svg);
  cursor: pointer;
}
.card__content {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 0;
}

@media screen and (max-width: 425px) {
  .card__image {
    width: 100%;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: 100% 100%;
  }
}
