.modal {
  background-color: rgba(33, 33, 33, 0.4);
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  margin: 0;
}

.modal_opened {
  visibility: visible;
}
.modal__container {
  padding: 32px 50px;
  margin: 0;
  background-color: #ffffff;
  width: 630px;
  border-radius: 8px;
  position: absolute;
  top: 207px;
}

.modal__title {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  padding: 0 0 36px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/icons/close-button.svg);
  background-size: cover;
  border: none;
  background-color: #ffffff;
  opacity: 40%;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal__label {
  padding: 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
}

.modal__input {
  max-width: 630px;
  padding: 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.4);
  margin: 0;
}

.modal__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}

.modal__submit-button {
  width: 156px;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: rgba(33, 33, 33, 1);
  line-height: 16px;
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.modal__submit-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 625px) {
  .modal {
    padding: 0 10 0px;
  }

  .modal__container {
    padding: 12px;
    max-width: 276px;
    position: absolute;
    top: 134px;
  }

  .modal__close-button {
    padding: 0;
    margin: 0;
    top: 12px;
    right: 12px;
    background-image: url(../images/icons/close-button.svg);
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }

  .modal__label {
    padding-bottom: 24px;
    margin: 0;
    gap: 8px;
  }

  .modal__input {
    max-width: 272px;
    padding: 16 12;
  }
}
