.modal {
  background-color: rgba(33, 33, 33, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.modal__opened {
  visibility: visible;
}
.modal__container {
  padding: 32px 50px;
  margin: 0;
  background-color: #ffffff;
  max-width: 730px;
  border-radius: 8px;
  position: relative;
}

.modal__title {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  padding: 0 0 36px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/icons/close-button.svg);
  border: none;
  background-color: #ffffff;
  opacity: 40%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  padding: 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  width: 630px;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__submit-button {
  width: 156px;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: rgba(33, 33, 33, 1);
  line-height: 16px;
  color: rgba(252, 245, 229, 1);
}
